*,
*::after,
*::before {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-size:15px;
    text-align: left;
}

h1{
    width:100%;
    margin: 10% auto;
    color:hsl(0, 0%, 95%);
}

p {
    color:hsla(0, 0%, 100%, 0.75);
}

body{
    display:flex;
    flex-direction: column;  
    width:50vw;
    margin:10vh auto;
    overflow:hidden;
}

.main-container {
    border-radius:20px;
    width:80vw;
    margin-bottom:20%;
    display:flex;
    flex-direction:row;
}


.card-option {
    width: 20%;
    padding: 5vh;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
}

.card-option:nth-child(1) {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
}

.card-option:nth-child(2) {
    background-color: hsl(184, 100%, 22%);
}

.card-option:nth-child(3) {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}

img {
    transform:scale(0.8em);
    display:block;
    margin-right: 70%;
}


.card-option > a {
    margin-top: 5em;
    border-radius:  25px;
    background-color: hsl(0, 0%, 95%);
    border:none;
    padding: 0.3em 0.2em;
    text-align: center;
    border-color: hsl(0, 0%, 95%);
    border:1px solid
}

a:hover{
    cursor: pointer;
}

#link-1 {
    color:hsl(31, 77%, 52%);
}

#link-1:hover {
    color:white;
    background-color: hsl(31, 77%, 52%);
}

#link-2{
    color:hsl(184, 100%, 22%);
}

#link-2:hover {
    color:white;
    background-color: hsl(184, 100%, 22%);
}


#link-3{
    color:hsl(179, 100%, 13%);
}

#link-3:hover {
    color:white;
    background-color: hsl(179, 100%, 13%);
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
