*,
*::after,
*::before {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-size:15px;
    text-align: left;
}

h2{
    width:100%;
    margin: 10% auto;
    color:hsl(0, 0%, 95%);
    font-size:2rem;
}

p {
    color:hsla(0, 0%, 100%, 0.75);
    font-size:0.8rem;
    font-weight:lighter;
    font-family: "Lexend Deca", sans-serif;
}

body{
    background-color: hsl(0, 0%, 95%);
    overflow:hidden;
    font-family: "Big Shoulders Display", cursive;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.main-container {
    border-radius:20px;
    width:80%;
    margin-bottom:20%;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    max-width:50%;
}

.card-option {
    padding: 3rem;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
}

.card-option:nth-child(1) {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
}

.card-option:nth-child(2) {
    background-color: hsl(184, 100%, 22%);
}

.card-option:nth-child(3) {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}

img {
    transform:scale(0.8em);
    display:block;
    margin-right: 70%;
}


.card-option > a {
    font-family: "Lexend Deca", sans-serif;
    margin-top: 5em;
    border-radius:  25px;
    background-color: hsl(0, 0%, 95%);
    border:none;
    padding: 0.3em 0.2em;
    text-align: center;
    border-color: hsl(0, 0%, 95%);
    border:1px solid
}

a:hover{
   
    cursor: pointer;
    transition: all 0.2s;
}

#link-1 {
    color:hsl(31, 77%, 52%);
}

#link-1:hover {
    color:white;
    background-color: hsl(31, 77%, 52%);
}

#link-2{
    color:hsl(184, 100%, 22%);
}

#link-2:hover {
    color:white;
    background-color: hsl(184, 100%, 22%);
}


#link-3{
    color:hsl(179, 100%, 13%);
}

#link-3:hover {
    color:white;
    background-color: hsl(179, 100%, 13%);
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}


@media(max-width: 500px){

    body{
        align-items: center;
        justify-content: center;
        min-height:100vh;
        overflow:scroll;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        max-width: 70%;
    }

    .card-option{
        width: 100%;
    }

    .card-option:nth-child(1) {
        border-radius: 10px 10px 0 0;
    }

    .card-option:nth-child(3) {
        border-radius: 0 0 10px 10px;
    }
 }